<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edge Node Operating Center</title>
</head>
<body>
IoT Control Center
press the button to start the simulation
<button id="start" onclick="loadXML()">Start</button>

<div class="outer" id="outer">
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
    <div class="inner"></div>
</div>

<script>
    function loadXML() {
        window.location.href="http://localhost:8080/start_iotdev?dev_num=1";
    }
</script>
</body>

</html>